---
import Navigation from "./Navigation.astro"
---

<header>
    <div class="logo">
        Double C
    </div>
    <Navigation />
</header>

<style>
    header {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
       
    }
    .logo {
        font-weight: 800;
        font-size: 20px;
        color: #000;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-shadow: 1px 1px #000;
        color: #fff;
    }
</style>