---
---

<nav>
    <li><a href="/">Home</a></li>
    <li><a href="/">Post</a></li>
</nav>

<style>
    nav{
        display: flex;
        gap: 10px;
        font-size: 20px;

        & li {
            list-style: none;

            & a {
                text-decoration: none;
                color: #e9ecef;
                font-weight: 900;
            }
        }
    }
</style>